<!DOCTYPE html>
<html>
<head>
  <title>RapGenius</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if notice %>
    <p class='notice'><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class='alert'><%= alert %></p>
  <% end %>
  
  <div class='container'>
    <h3 class='muted title'>RapGenius</h3>
    <% if controller_name != 'sessions' && controller_name != 'registrations' %>
      <form class='form-search'>
        <div class='input-append'>
          <input type='text' class='search-query'>
          <button type="submit" class='btn'>Search</button>
        </div>
      </form>
    <% end %>

    <div class='auth'>
      <% if user_signed_in? %>
        Signed in as: <%= current_user.email %>
        <%= link_to "Sign Out", 
            destroy_user_session_url, 
            :class => 'btn',
            :method => :delete %>
      <% else %>
        <%- if controller_name != 'sessions' %>
          <%= link_to "Sign In", new_user_session_url, :class => 'btn' %>
        <% end -%>

        <%- if controller_name != 'registrations' %>
          <%= link_to "Sign Up", 
            new_user_registration_url, 
            :class => 'btn btn-primary' %>
        <% end %>

      <% end -%>
    </div>
  </div>

  <%= yield %>

</body>
</html>
